/* Estilos personalizados para el Gestor de Exámenes */

/* Se pueden añadir estilos específicos aquí si Tailwind no es suficiente */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
